.timeline.timeline-right
  - changesets.each do |month, slice|
    .timeline-item.timeline-main
      .timeline-date= month.strftime("%B")

    - slice.each do |date, slice2|
      .timeline-item.timeline-item-right
        .timeline-item-info{title: date}
          = time_ago_in_words(date)
          ago

        - slice2.each do |is_new, changesets|
          .timeline-item-icon
            %i.fa{class: is_new ? "fa-plus" : "fa-exchange"}

          .timeline-item-content
            .timeline-heading
            .timeline-body
              .panel.panel-default
                .panel-body
                  .list-group.border-bottom
                    - changesets.each do |changeset|
                      %li.list-group-item
                        - if changeset.grade_before.present?
                          .timeline-marks
                            .progress-timeline-arrow
                              %i.fa.fa-arrow-up
                            %div
                              = grade_badge(changeset.grade_after)
                            %div
                              = grade_badge(changeset.grade_before)
                        - else
                          .timeline-marks.new-mark
                            = grade_badge(changeset.grade_after)

                        .timeline-class-name
                          %h3
                            = link_to changeset.path,
                                      repo_branch_file_url(@repo.owner, @repo, @repo.default_branch, changeset.path)
            .timeline-footer.timeline-footer-without-padding
