-# TODO: move to controller, remove n+1 by preloading, will denormalize latest successful push-build?
- build = repo.default_branch.try(:recent_push_build) || Builds::Push.new if repo.active?

%tr
  %td
    - if repo.active?
      %h3
        = build_rating_badge(build.rating)

  %td
    %h3
      - if repo.active?
        = link_to repo.full_github_name, repo_url(repo)
      - else
        = repo.full_github_name

  %td
    - if repo.active?
      %h3
        = build.smells_count

  %td
    - if policy(repo).manage?
      %label.switch
        - if repo.active?
          = check_box_tag "#{repo.id}_switch",
                          1,
                          true,
                          data: {remote: true,
                                 url: repo_activation_url(id: repo.id),
                                 method: 'delete',
                                 confirm: 'Are you sure?'},
                          class: 'js-repo-deactivate'
        - else
          = check_box_tag "#{repo.id}_switch",
                          1,
                          false,
                          data: {remote: true,
                                 url: repo_activation_url(id: repo.id),
                                 method: 'put'},
                          class: 'js-repo-activate'
        %span
