- breadcrumb :payment, @owner

- content_for(:header_icon, 'fa-arrow-circle-o-left')

.row
  .col-md-12
    .panel.panel-default
      .panel-body
        = form_for @subscription_type, url: profile_billing_subscription_path, html: {class: 'js-payment-form'} do |f|
          = f.hidden_field :token, class: 'js-token'

          %table.table
            %thead
              %tr
                %td Plan
                %td Price
                %td Private repositories
            %tbody
              - @plans.each do |plan|
                %tr
                  %td
                    = f.radio_button :plan_id, plan.id
                    = plan.name
                  %td= "$ #{plan.price} / #{I18n.t('plans.per_months', count: plan.months)}"
                  %td= plan.repo_limit

          .form-horizontal
            .js-payment-errors.text-danger

            .form-group
              .col-md-6.col-xs-12
                = f.label :card_number, "Card number", class: 'control-label'
                = f.text_field :card_number,
                                data: {stripe: 'number'},
                                required: true,
                                minlength: 11,
                                maxlength: 20,
                                class: 'form-control'

            .form-group
              .col-md-2
                %label.control-label Expiration date
                = f.select :exp_month, 1..12, {}, data: {stripe: 'exp-month'}, class: 'form-control'
              .col-md-2
                %span.control-label= '&nbsp'.html_safe
                = f.select :exp_year, Date.today.year..8.years.from_now.year, {}, data: {stripe: 'exp-year'}, class: 'form-control'

              .col-md-2
                = f.label :csv, "CVC (CVV)", class: 'control-label'
                = f.text_field :cvc,
                                data: {stripe: 'cvc'},
                                required: true,
                                maxlength: 4,
                                class: 'form-control'

            .form-group
              .col-md-6.col-xs-12
                %div= f.button 'Upgrade plan', class: 'btn btn-success'

        = javascript_include_tag 'https://js.stripe.com/v2/'
        :javascript
          Stripe.setPublishableKey(#{Rails.configuration.x.stripe[:publishable_key].to_json});

