%tr
  %td
    = block_rating_badge(block.rating)
  %td
    %h4
      - if block.is_a?(Blocks::File)
        = link_to block.name, repo_build_file_url(repo.owner, repo, block.build, block)
      - else
        = link_to block.name, repo_build_namespace_url(repo.owner, repo, block.build, block)
  %td
    %h3= block.metrics['complexity'].to_i
  %td
    %h3= block.metrics['duplication'].to_i
  %td
    %h3= block.metrics['loc']
  %td
    %h3= block.smells_count
