- breadcrumb :source_files, @repo

- content_for(:header_icon, 'fa-file-text-o')

.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        .panel-title-box

        %ul.panel-controls
          %li{style: 'width: 300px;'}
            %input.form-control.ui-autocomplete-input{placeholder: 'Search...', autocomplete: 'off'}
          %li
            %a.panel-fullscreen{href: '#'}
              %i.fa.fa-expand
          - if policy(@repo).manage?
            - branch_name = @build.present? ? @build.branch.name : @repo.default_branch.name
            %li
              = link_to builds_path(repo_id: @repo.id, branch: branch_name), remote: true, method: :post, class: 'js-build-repo' do
                %i.fa.fa-refresh

      .panel-body.panel-body-table
        .table-responsive
          - if @source_files.present?
            %table.table.table-bordered.table-striped
              %thead
                %tr
                  %th{style: 'width: 90px'} Marks
                  %th Source file
                  %th{style: 'width: 90px'} LOC
                  %th{style: 'width: 90px'} Smells
              %tbody
                = render(@source_files)
          - else
            There is no source files yet.

      - if @source_files.present?
        .panel-footer= will_paginate @source_files, renderer: BootstrapPagination::Rails

= render partial: 'shared/progress_bar', locals: {id: 'refreshing', type: 'info', title: 'Rebuild'}

- content_for(:header_right_col) do
  = render partial: 'shared/toggle_by_klasses_files', locals: {title: 'Show by source files'}
