= link_to 'Featues', page_path('featues')
= link_to 'Pricing', page_path('pricing')
= link_to 'Documentation', page_path('documentation')
= link_to 'Blog', page_path('blog')
= link_to 'Status', page_path('status')
