%tr
  %td
    = rating_badge(klass.metrics['rating'])
  %td
    %h4
      = link_to klass.name, repo_klass_path(repo, klass)
  %td
    %h3= klass.metrics['complexity'].to_i
  %td
    %h3= klass.metrics['duplication'].to_i
  %td
    %h3= klass.metrics['loc']
  %td
    %h3= klass.metrics['smells_count']
