- breadcrumb :klass, @repo, @klass

- content_for(:header_icon, 'fa-file-code-o')

.row
  .col-md-12
    .panel-heading
      - @klass.smells_statistics.each do |name, count|
        - smell_class = "#{name}Decorator".constantize
        %button.btn.btn-default{disabled: true}
          %i{class: smell_class.icon}
          = smell_class.title
          &nbsp;
          %span.badge= count

    - @klass.source_files.each do |source_file|
      .panel.panel-warning
        .panel-heading
          %h3.panel-title= source_file.path

          %ul.panel-controls
            %li
              %a.panel-fullscreen{href: "#"}
                %i.fa.fa-expand
            %li
              %a.panel-collapse{href: ""}
                %i.fa.fa-angle-down

          .panel-body
            %pre
              %code{class: 'ruby',
                    data: {smells: @klass.smells.source_grouped[source_file.path].to_json}}
                = preserve do
                  = source_file.content
