- breadcrumb :klass, @repo, @klass

.panel.panel-default= @klass.inspect

.panel.panel-default= @klass.metric.inspect


- @klass.smells.each do |smell|
  .panel.panel-default
    = smell.inspect

- @klass.klass_source_files.each do |klass_source_file|
  .panel.panel-default
    = klass_source_file.source_file.inspect
    %br
    = klass_source_file.inspect